<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<section class="infinite-tweets" data-all-the-tweets="<%= @feed_tweets %>">
<!-- that is really dumb -->
  <ul class="tweet-list">
  </ul>
  <a href="javascript:void(0)" class="fetch-more">Fetch more</a>
</section>

<%= render "tweets/form" %>
