<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea class="tweet-content" name="tweet[content]"></textarea>
  </label>
  <br>

  <label>
    <a href="javascript:void(0)" class="add-mentioned-user">Add mention</a>
    <ul class="mentioned-users"></ul>
    <script type="text/template" class="mention-menu">
      <select class="tweet-mention" name="tweet[mentioned_user_ids][]">
        <option></option>
        <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select>
    </script>
  </label>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>